<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8a9f809a-2e4f-4adb-baa4-5bec063235d0" name="testLdap" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8a9f809a-2e4f-4adb-baa4-5bec063235d0fileName">testLdap</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
