<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1292630e-da57-4690-9e85-bfa11327a984" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1292630e-da57-4690-9e85-bfa11327a984fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
